/* Change the color of all pagination bullets */
.swiper-pagination-bullet {
  background: #007bff; /* Change to your desired color */
  opacity: 0.5; /* Adjust the opacity for inactive bullets */
  height: 8px;
  width: 8px;
}

/* Change the color and style of the active pagination bullet */
.swiper-pagination-bullet-active {
  height: 8px;
  width: 8px;
  background: #dead32;
  border: 1px solid black; /* Change to your desired color */
  opacity: 1; /* Ensure the active bullet is fully opaque */
}

.swiper-pagination {
  bottom: -5px !important; /* Adjust this value to control the exact position */
}

.swiper {
  height: 230px;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  width: 390px; /* Adjust to your desired height */
}

.swiper-slide img {
  width: auto;
  height: auto;
  object-fit: cover;
}
